html,bod {
max-width:960px;
width:100%;
margin:0 auto;
}
@media only screen {
	html,body {
	max-width:480px;
	width:100%;
	margin:0 auto;
	}
	.main {
	padding:5px;
	}
	.date {
	margin:1%;
	width:98%;
	overflow:hidden;
	}
	.time {
	margin: 1%;
	width:96%;
	overflow:hidden;
	}
	.main button {
	height:46px;
	padding:0;
	float:left;
	font-size:20px;
	} 
	
	.main button:first-of-type {
	width:40px;
	float:left;
	font-size:30px;
	} 
	.date select {
	float:left;
	width:20%;
	}
	.date select:last-child {
	width:40%;
	}
	
	.time > * {
	float:left;
	width:25%;
	height:19px;
	text-align:right;
	margin-bottom: 5px;
	}
	.filterRange {
	float:right;
	}
	.filterRange input{
	 width:60px;
	}
	table {
	width:100%;
	text-align:right;
	font-size:12px;
	border-collapse:collapse;
	}
}
	th,td {
	text-align:right;
	border:solid 2px;

	}

@media print {
	@page {size: landscape}	
	.date,.time,.filterRange,table tr th:first-child,table tr td:first-child {
		display:none;
	}
	table input{
		border:none;
		font-weight:bold;
	}
	table {
		width:90%;
		margin:50px auto 0;
		font-family:font-family: "Times New Roman", Georgia, Serif;
		border-collapse:collapse;
		font-size:18px;
		font-weight:bold;
	}
	th,td {
	line-height:20px;
	padding:5px;
	}	
}
@media only screen and (max-width: 360px) {
	table {
		font-size:12px;
	}
}
